main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px ;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
    transition: filter 0.3s ease-in-out, border 0.3s ease-in-out, transform 0.3s ease-in-out;
}

main img:hover{
    filter: blur(2px);
}